/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
 /*CSS for mapview */
.map-head
{
  border:1px solid #C3C3C3;	
	
}
 
 .map-title{
	
	background-color: #333F49;
  color: #FFFFFF;
  font-size: 1.2em;
  height: 32px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  font-family: 'Swiss721', Tahoma, Arial, sans-serif; 

}

.map_container {
  padding: 100px;
  overflow : visible !important;
  height : 100% !important;
}
