/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
.comboIcon-UPDATE_PREF_FORM-THEME-blue {
	background: url('../images/preferences/color-panel_blue.png') no-repeat transparent
		!important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-red {
	background: url('../images/preferences/color-panel_red.png') no-repeat transparent
		!important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-green {
	background: url('../images/preferences/color-panel_green.png') no-repeat transparent
		!important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-gray {
	background: url('../images/preferences/color-panel_gray.png') no-repeat transparent
		!important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-orange {
	background: url('../images/preferences/color-panel_orange.png') no-repeat
		transparent !important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-violet {
	background: url('../images/preferences/color-panel_violet.png') no-repeat
		transparent !important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-lightblue {
	background: url('../images/preferences/color-panel_lightblue.png') no-repeat
		transparent !important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}

.comboIcon-UPDATE_PREF_FORM-THEME-canvas {
	background: url('../images/preferences/color-panel_blue.png') no-repeat
		transparent !important;
	background-color: #FFFFFF !important;
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-origin: padding-box !important;
	background-position: 2px center !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
	padding-left: 45px !important;
}