/*** large font.css **/

.workspacetitle {
    font-size:18px;
    font-weight:bold;
}
.cardusername {
    font-size:14px;
    font-weight:bold;
	line-height:20px;
}
.carduserdetails-con{
	vertical-align: middle;
}
.cardlastlogin {
    font-size:13px;
}
.cardlogouttext {
    font-size: 14px;
    font-weight:bold;
	line-height:10px;
}
.tabusername{
	font-size: 13px;
	font-weight:normal;
	line-height:20px;
}
.tablastlogin{
	font-size:13px;
	font-weight:normal;
}
.appusername {
       font-size: 13px;
	font-weight:normal;
	line-height:20px;
}
.applastlogin {
        font-size:13px;
	font-weight:normal;
}
.menulayoutusername{
    font-size: 12px;
	font-weight:normal;
	line-height:20px;
}
.menulayoutlastlogin{
    font-size:12px;
	font-weight:normal;
}
.tabletopusername{
	font-size: 14px;
	font-weight:normal;
	line-height:20px;
}
.tabletoplastlogin{
	font-size:14px;
	font-weight:normal;
}
.tabletopwslabel {
    font-size:14px;
    font-weight:bold;
}
.x-panel-mc {
    font-size:12px;
}
.excardusername {
    font-size:14px;
	line-height:20px;
}
.cardlastlogin {
    font: 13px Arial;
    font-weight:bold;
}
.excardlogouttext{
	font-size:14px;
	font-weight:bold;
	line-height:10px;
}
a.ux-fisheye-menu-item, a.app-ux-fisheye-menu-item {
    font-size:13px;
    font-weight:bold;
}
.INIT_PAY {
    font-size: 14px !important;
}
.MESSAGES {
    margin-left: 15px !important;
	font-size: 14px !important;
}
.alert-count {
	left:50px;
}
.x-tab-strip span.x-tab-strip-text {
    font-size: 13px;
}
.x-grid3-hd-row td {
    font-size: 13px;
	line-height:15px;
}

.x-grid3-row td, .x-grid3-summary-row td {
    font-size:12px;
}
.x-panel-header {
    font-size: 13px;
}
.x-menu-list-item {
    font-size: 13px;
}
.catalog_icon_text {
    font-size: 13px;
}
.x-window-tl .x-window-header {
    font-size:12px;
    font-weight:bold;
}
.x-form-item {
    font-size: 13px;
}
.x-fieldset legend {
    font-size: 12px;
    font-weight:bold;
}
.x-btn-noicon .x-btn-small .x-btn-text {
    font-size: 14px;
}

.x-tree-node {
    font-size: 12px;
}
.appwslabel {
    font-size: 14px;
    font-weight:bold;
}
.cardworkspacetitle, .workspacetitle {
    font-size:16px;
    font-weight:bold;
}
.cardws_text {
    font-size: 15px;
    font-weight: bold;
}
.x-list-body dt em {
    font-size: 12px;
}
.x-combo-list {
    font-size: 12px;
}
.x-form-field {
    font-size: 13px;
}
.excardwslabel {
    font-size: 13px;
}
a.ux-fisheye-menu-item, a.app-ux-fisheye-menu-item {
   font-size:13px;
   font-weight:bold;
}
.copyrighttext {
    font-size: 14px;
}
.x-grid-group-hd div.x-grid-group-title {
    font-size:14px;
    font-weight:bold;
}
.menulayoutws_text {
    font-size: 14px;
}
.menulayoutusername {
    font-size: 14px;;
    line-height:20px;
}
.menulayoutlastlogin {
    font-size: 14px;
}
.cardworkspacetitle, .workspacetitle{
	 font-size: 17px;
	 font-weight:bold;
}