/* Copyright 2014. Intellect Design Arena Limited. All rights reserved. */

 .menu_arrow{
	background:url(../images/menu_arrow.gif) no-repeat !important;
}
.noborder-icon-text .x-btn-over .x-btn-ml, .noborder-icon-text .x-btn-over .x-btn-mc, .noborder-icon-text  .x-btn-over .x-btn-tc, .noborder-icon-text .x-btn-over .x-btn-tr, .noborder-icon-text .x-btn-over .x-btn-tl,
 .noborder-icon-text .x-btn-over .x-btn-ml, .noborder-icon-text .x-btn-over .x-btn-mr, .noborder-icon-text .x-btn-over .x-btn-br, .noborder-icon-text .x-btn-over .x-btn-bl, .noborder-icon-text .x-btn-over .x-btn-bc{
	color:#000 !important;
	font-size:0.833em !important;
}
.noborder-icon-text .x-btn-over .x-btn-ml, .noborder-icon-text .x-btn-over .x-btn-mr, .noborder-icon-text .x-btn-over .x-btn-br, .noborder-icon-text .x-btn-over .x-btn-bl, .noborder-icon-text .x-btn-over .x-btn-bc
{
	color:#000 !important;
	font-size:0.833em !important;
	

}
.noborder-icon-text .x-btn-mc .x-btn-icon-small-left, .noborder-icon-text .x-btn-mc .x-btn-text{
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:0.917em;
	color:#000000;
}

.x-menu-list-item-indent .x-menu-item-icon {
	position: relative;
	top: 4px!important;
	left: 3px;
	margin-right: 10px;
}

.x-form-text, textarea.x-form-field {
	margin: 0 1px;
}