/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
.appheaderpanel .x-panel-body{
	background:#c1bfc0;	
	font-family:  Arial, Tahoma, Helvetica, Sans-serif;
	font-size:1.000em;
	font-weight:normal;
}
.appusername{
	color:#000;
	font-family: Arial, Tahoma, Helvetica, Sans-serif;
	font-size:1.000em;
	font-weight: bold;
}
.applastlogin{
	color:#000;
}
.workspacetitle{
    font-family: Arial, Tahoma, Helvetica, Sans-serif;
    font-size: 1.00em;
    font-weight: bold;
    line-height: 75px;
    text-align: center;
    width: 100%;
    padding: 0;
}
.appwslabel{
	color:#000;
    font-family: Arial, Tahoma, Helvetica, Sans-serif;
	font-size:1.000em;
	font-weight: bold;
}
.applogo{
	background:url(../images/headerlogo.png) 0px center no-repeat;
}
.applogout{
	background:url(../images/layoutapp/logoff.png) 0px 0px no-repeat;
}
.appworkspacetitle-col {
    font-size: 1.167em;
}
.appuserdetails-con {
    vertical-align: bottom;
}
.footerAPP .x-panel-body{
	background:#c1bfc0;	
}
.WORKSPACE_CATALOGUE_OWNER{
	background: url(../images/layoutapp/fisheyeapplayout.png) no-repeat scroll center  35px transparent;
	background-size: 100% auto;
}
.appwsiconDefault{
    background-image: url(../images/layoutapp/fisheye_menu_ws.png);
}
a.ux-fisheye-menu-item, a.app-ux-fisheye-menu-item{
	font-family: Arial, Tahoma, Helvetica, Sans-serif;
	font-size:1.000em;
	font-weight: bold;
	color: #000;
} 

a.ux-fisheye-menu-item .appwslabel {
	color: #000;
}
.activeWS .appwslabel {
	color: #000;
}

