/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
.save-preference {
    background: url("../images/multiwidgetswitch/save-preference.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.save-preference {
    height: 16px !important;
    width: 16px !important;
}
.revert-preference {
    background: url("../images/menu-icons/preferences/revert-preference.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.revert-preference {
    height: 16px !important;
    width: 16px !important;
}