/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
.btnbar .noborder-icon-text .x-btn-mc .scroll-left-icon {
    height: 60px !important;
    padding: 0px 0px 0 0;
    position: relative;
    width: 29px !important;
    margin-top: 9px !important;
}
.btnbar .noborder-icon-text .x-btn-mc .scroll-right-icon{
	height: 60px !important;
    padding: 0px 0px 0 0;
    position: relative;
    width: 29px !important;
    margin-top: 9px !important;
}
.x-appContainer-panel{
	display:block;
}
.x-app-container-btn{
	margin : 50px !important;
}
.x-scroll-panel{
	height : 50px !important;
	width : 30px !important;
	background-position:center top !important;
	background-repeat: no-repeat !important;
}
.appicon-panel-wrap{
	margin-left: 15px;
	margin-right: 15px;	
	width: 100px;
}
.LayoutAppsContainer {
    padding-left: 0px;
}
.LayoutAppsContainer .appicon-panel-wrap {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.favapp-panel{
	margin: 5px 5px 5px; 
} 
.favapp-panel .appicon-panel-wrap{
	margin-left : 10px;
	margin-top : 0px;
}
.favapp-panel .appicon-wrap {
    padding-top: 0;
    margin-top: 5px;
    padding-right: 10px;
    width: 89px;
}
.appicon-default{
    height: 45px !important;
    margin-left: 34px;
    width: 45px !important;
    cursor:pointer !important;
    margin-bottom:2px;
} 
.removeapp{
	cursor: pointer;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 16px;
 } 
.addcheck{
	position: absolute;
    right: 15px;
    top: 0px
}
.div-ab-wrap{
    height: 31px;
    margin-bottom: 0;
    text-align:center;
    white-space: normal !important;
    width: 100px;  
    word-wrap: break-word !important;
}
.div-img-wrap{
	margin-right: 10px;
	word-wrap: break-word !important;
	white-space: normal !important;
	text-align:center;
}
.img-label{
	height:30px;
	width:auto;
	text-align:center;
}
.rcbx-fav-win .appicon-wrap{ 
	margin: 30px 20px 10px 0px; 
}
.appicon-wrap{
	width:89px;
	margin-top:5px;	
	padding-right:10px;
}
.favapp-panel .appicon-wrap{
	padding-top: 0px;
}
.contextapp-c{
	margin: 7px 0px 0px 0px;
}


