/*!
 * Copyright 2014. Intellect Design Arena Limited. All rights reserved.
 */
.x-form-line{
	width:auto !important;
	}
.notes-menu	.custom-columnwidth {
	width: 220px;	
	height : auto !important;
}